/*-------------------------------
  BUTTON
  --------------------------------*/
.button-wrapper{
  position: relative;
  padding: 1.5rem 0;
  filter: url('#goo');
}
.button {
  display: inline-block;
  position: relative;
  min-width: 8.23em;
  min-width: 200px;
  font-family: var(--font-heading);
  font-size: 1.25rem;  
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  background: var(--color-white);
  @include border-radius(1em);
  padding: 1.03em 1.32em;
  line-height: 1;
&:before,
&:after {
  position: absolute;
    content: "";
    display: inline-block;
    width: 4.4em;
    height: 2.95em;
    background: var(--color-white);
    @include border-radius(50%);
    transform: scale(0);
    transition: transform 1s ease;
    z-index: -1;
}
}
.button-yellow{
  background: var(--color-primary);
  color: var(--color-white);
  &:before,
&:after {
  background: var(--color-primary);
}
}
.button:before {
  top: -25%;
  left: 20%;
}

.button:after {
  bottom: -25%;
  right: 20%;
}

.button:hover:before,
.button:hover:after {
  transform: none;
}
.loading-button{
  .drops {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    @include opacity(0);
    -webkit-filter: url('#liquid');
    filter: url('#liquid');
    animation: fade-in .1s linear .4s forwards;
  }
  
  .drop1 , .drop2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 21px;
    height: 24px;
    @include border-radius(50%);
    background-color: var(--color-primary);
  }
  
  .drop1 {
    width: 90px;
    height: 16px;
    bottom: 2px;
    @include border-radius(0);
  }
  
  .drop2 {
    animation: drop 1.3s cubic-bezier(1,.19,.66,.12) .5s infinite;
  }
}

@keyframes fade-in {
  0% {
    @include opacity(0);
  }
  100% {
    @include opacity(1);
  }
}

@keyframes drop {
  0% {
    bottom: 0px;
    @include opacity(1);
  }
  
  80% {
    @include opacity(1);
  }
  
  100% {
    @include opacity(1);
    bottom: -200px;
  }
}